@model Planesia.Models.Flora

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Flora</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.FloraId)

        <div class="form-group">
            @Html.LabelFor(model => model.FloraName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FloraName)
                @Html.ValidationMessageFor(model => model.FloraName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FloraLatinName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FloraLatinName)
                @Html.ValidationMessageFor(model => model.FloraLatinName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FloraDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FloraDate)
                @Html.ValidationMessageFor(model => model.FloraDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FloraDistribution, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FloraDistribution)
                @Html.ValidationMessageFor(model => model.FloraDistribution)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FloraDiscoverer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FloraDiscoverer)
                @Html.ValidationMessageFor(model => model.FloraDiscoverer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FloraOtherDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FloraOtherDescription)
                @Html.ValidationMessageFor(model => model.FloraOtherDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FloraPhoto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FloraPhoto)
                @Html.ValidationMessageFor(model => model.FloraPhoto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserId)
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FloraStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FloraStatus)
                @Html.ValidationMessageFor(model => model.FloraStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FloraLongitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FloraLongitude)
                @Html.ValidationMessageFor(model => model.FloraLongitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FloraLatitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FloraLatitude)
                @Html.ValidationMessageFor(model => model.FloraLatitude)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
