@model Planesia.Models.Campaign

@{
    ViewBag.Title = "Create Your Campaign";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Campaign</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CampaignName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CampaignName)
                @Html.ValidationMessageFor(model => model.CampaignName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CampaignDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CampaignDescription)
                @Html.ValidationMessageFor(model => model.CampaignDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CampaignDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CampaignDate)
                @Html.ValidationMessageFor(model => model.CampaignDate)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.UserId, "UserId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserId", String.Empty)
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.CampaignStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CampaignStatus)
                @Html.ValidationMessageFor(model => model.CampaignStatus)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    
<div>
    @Html.ActionLink("Back to Campaign's List", "Campaign")
</div>
