@model PagedList.IPagedList<Planesia.Models.Rss>
@using PagedList.Mvc;

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>News</h2>*@

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
    <table>

    @foreach (var item in Model)
        {
        
            <tr>
                <th>
                    <a href="@item.Link" target="_blank">@Html.Encode(item.Title)</a>
                </th>
            </tr>
            <tr>
                <td>
                    <p>
                        @System.Web.HttpUtility.HtmlDecode(item.Description)<br>
                        <a href="@item.Link" target="_blank">Read More ...</a>
                    </p>
                </td>
            </tr>
        }

    </table>
    <div class="pager">
    @Html.PagedListPager(Model, page => Url.Action("News",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

            
